.main{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
}

.main1{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.insight_box{ 
    vertical-align: middle;
    display: flex;
}

.insight_box > button,h2 {
    float: left;
}

.insight_box > button{
    background-color: white;
    border: none;
    position: relative;
    top: 4px;
}



.insight_button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.insight_button > button{
    padding: 9px 22px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
    color: gray;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}
.insight{

    margin: 0;
    padding: 0;

}

.insight_video{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    width: 1080px; 
 

}

.video{
    margin-top: 25 0 0 0px;
    padding: 0;
    display: flex;
    position: relative;
    left: 0;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
     
    width: 250px;

}

.video > a {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 308px;
   
}


.CareerContentCard_CareerContentCard__Thumbnail__vziSn > img{
    display: flex;
    width: 250px;
    height: 175px;
    justify-content: center;
    
}


.CareerContentCard_CareerContentCard__Title__Tcz6Z{
    text-align: left;
    font-weight: bold;
    color: black;
    padding: 0 0 2px 0;
    margin-top: 15px;
    font-size: 1em;
}

.CareerContentCard_CareerContentCard__Info__m8b_5{

    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    font-weight: bold;
    color: gray;
}

.CareerContentCard_CareerContentCard__Info__m8b_5 > img{
    width: 28px;
    height: 28px;
}

.more{
    display: flex;
    justify-content: center;
}

.more_button{
    display: flex;
    width: 345px;
    height: 50px;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-color: lightgray;
    background-color: white;
    border-width: 1px;
    
    
}



.SvgIcon_SvgIcon__root__svg__DKYBi{
    margin: 0;
    width: 16px;
    height:16px;
    padding-left: 1px;
    padding-top: 2px;
}

.more_button > span{
    text-align: center;

}
.Button_label{
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CreatorBannerSection_CreatorBannerSection__wrapper__lYhin{
    border: 1px solid lightgray ;
    border-radius: 5px;
    margin: 15px 0 70px 0;
    
}

.CreatorBannerSection_CreatorBannerSection__A3WkR{ 
    display: flex;
    flex-direction: row;
    height: 119px;
    
}

.CreatorBannerSection_CreatorBannerSection__container__XFcw6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 65%;
    
  
}

.CreatorBannerSection_CreatorBannerSection__container__XFcw6 > p{
    display: flex;
    margin: 0;
    padding-right: 10px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    color: black;
    font-weight: bold;
    height: 45px;
    flex-grow: 1;
    
}

.Button_Button__root__V1ie3{
    display: flex;  
    padding: auto 0;
    align-items: flex-start;
    padding-right: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(5, 181, 240);
    flex-grow: 1;
}

.CreatorBannerSection_CreatorBannerSection__image__B0a_e{
    display: flex;
}

.CreatorBannerSection_CreatorBannerSection__image__B0a_e > img{
    width: 112px;
    height: 77px;
}

.img_box{
    display: flex;
    flex-basis: 15%;
    padding: 20px 40px 20px 20px;
}

.CreatorBannerSection_CreatorBannerSection__close__M_JMx{
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2px 2px;
    background-color: white;
    border: none;
}


.main2{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 70%;
}
.main2_top_content{
    border-top: 1px solid lightgray;
}
.main2_top_content_title{
    margin: 0;
    padding: 0;
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ArrowButton_ArrowButton__zK5U5{
    border: 1px solid lightgray;
    display: flex;
    flex-basis: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: white;

}

.Title_Title__nD0Q6{
   
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 49.25px;

}

.Title_Title__Title__iETTN{
    display: flex;
    margin: 0;
    padding: 0;
   
    font-size: 22px;
}

.Title_Title__subtitle__jPQH4{
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: gray;
}

.top_content{
    margin: 0;
    padding: 0 0 25px 0 ;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content:space-between;
}

.main2_top_content_content{
    margin: 0;
    padding: 35px 0; 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    justify-content:space-between;


}
.main2_top_video{
    margin: 0;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
    width: auto;
    height: auto;
    flex: 1;
    position: relative;
    right: 0;

}




.main2_top_content_title{
    margin: 0;
    padding-top: 60px;
}

.main_bottom_content{
    margin: 0;
    padding: 0;
    border-top: 1px solid lightgray;
}

.bottom_content_card{
    margin: 0;
    display: flex;
   
    
}

.main_bottom_content_card{
    margin: 0;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100%;

}

.content_card{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    flex-grow: 1;
   
}





.LineBanner_LineBanner__link__Dkpb1{
    margin: 55px 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 64.4px;
    font-size: 17px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}
.LineBanner_LineBanner__box__5V33Y.LineBanner_LineBanner__gradient__Kzp45{
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.main3{
    display: flex;
    flex-direction: column;
  
    width: 70%;
    padding-bottom: 30px;
}



.main3_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main3_gal{
    margin: 0;
    padding: 30px 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: flex;
    padding: 0;

    width: 522px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

.Thumbnail_Thumbnail__image__bP7ZG{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 522px;
    height: 273px;
    object-fit: cover;
 
}

.Item_EventItem__contents__4Jq3u{
    margin: 0;
    padding: 10px 0 0 0;
    flex-grow: 1;
  
    display: flex;
    width: 100%;
    height :52px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  

}

.EventLabel_EventLabel__NIldA{
    margin: 0;
    padding: 0;
    display: flex;
   
    flex: 1;
    height: 20px;
    font-size: 15px;
}

.Item_EventItem__contents__title__EhF9F{
    margin: 0;
    padding: 0;
    display: flex;

    flex: 1;
    
}

.Item_EventItem__contents__date__l7VBh{
    margin: 0;
    padding: 0;
    display: flex;
  
    flex: 1;
}

.main4{
    display: flex;
    flex-direction: column;
    border: 3px solid orange;
    width: 70%;
}
