.job-detail-container {
    position: relative;
    
    text-align: left;

    margin: 20px 225px 0 225px;
}

.job-image {
    width: 63.15%;
    display: flex;

    overflow: scroll;
}
.job-image img {
    width: 700px;
    height: 490px;

    object-fit: cover;

    border-radius: 5px;
}

.company-detail {
    display: flex;
    align-items: center;

    gap: 10px;
}

.company-detail-title {
    font-size: 22px;
    font-weight: bold;

    margin-top: 50px;
    margin-bottom: 5px;
}

.company-title-badge {
    border: 1px solid purple;
    border-radius: 4px;

    color: purple;

    padding: 2px 5px;
}

.tags {
    display: flex;

    width: 66%;
    flex-wrap: wrap;

    gap: 10px;
}

.tag-item {
    background-color: rgb(239, 239, 239);
    font-size: 14px;
    
    border: none;
    border-radius: 15px;

    padding: 7px 12px;

    white-space: nowrap;
}

.content-title {
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 15px;
}

.content {
    width: 66%;

    display: flex;
    flex-wrap: wrap;
}
.content pre {
    font-size: 15px;
    line-height: 180%;
}

.stacks {
    margin-top: 20px;

    font-weight: bold;
    font-size: 16px;
}

.stack-item {
    display: flex;
    gap: 10px;
}
.stack-item div {
    border: none;
    border-radius: 20px;

    background-color: rgba(127, 255, 212, 0.5);

    font-size: 15px;

    padding: 7px 15px;

    margin-bottom: 50px;
}

.company-location div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.due-date p {
    font-size: 16px;
}
.due-date p:first-child {
    color: gray;
}

.company-map {
    width: 700px;
    height: 250px;

    background-color: transparent;

    margin-top: 10px;
}

.company-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 62%;
    margin: 30px 0;
    padding: 0 20px;

    border: 1px solid lightgray;
    border-radius: 10px;
}

.company-badge-name {
    display: flex;
    align-items: center;

    margin-left: 10px;
}
.company-badge-name img {
    width: 55px;
    height: 55px;

    margin-right: 20px;
}

.company-follow {
    border: 1px solid lightgray;
    border-radius: 30px;

    color: blue;
    font-size: 16px;
    font-weight: bold;

    padding: 10px 25px;
}

.share-warning {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 62%;

    margin: 10px 0;
    padding: 0 20px;

    background-color: lightgray;
    border-radius: 10px;
}
.share-warning img {
    width: 20px;
    height: 20px;

    margin-right: 10px;
}

.share-warning-content {
    display: flex;
    align-items: center;

    padding: 15px 10px;
}
.share-warning-content p {
    padding-right: 90px;
}
.share-warning-content img {
    width: 25px;
    height: 25px;
}

.card-container-title {
    margin: 0 225px;

    font-size: 20px;
    font-weight: bold;
}