a {
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    color: rgb(51, 51, 51);
}


body {
    margin: 0;
    font-family: Pretendard,Pretendard JP,Pretendard Std,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}

header {
    display: flex;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    

}

header .mainbar {
    max-height: 50px;
    display: flex;
    align-items: center;
    margin: auto;

}

header .mainbar ul {
    list-style: none;
}

header .mainbar li {
    float: left;
}


header .mainbar .left {
    display: flex;
    gap: 15px;
}

header .mainbar img.bar {
    height: 18px;
}

header .mainbar img.logo {
    height: 18px;
}


header .mainbar .center {
    display: flex;
}

header .mainbar .center a {
    padding: 15px;
}


header .mainbar .right {
    display: flex;
    line-height: 50px;
}

header .mainbar .right li {
    margin-left: 10px;
}


#vborder {
    width: 2px;
    height: 10px;
    background-color: rgb(225, 226, 227);
    margin: 22px;
}

.dashboardButton {
    font-size: 13px;
    color: #666;
height: 30px;
line-height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    font-weight: 400;
}

.main{
    border-bottom: 1px solid #ececec;
}

footer{

}