.SearchBody {
	position: relative;
	display: block;
	top: 70px;
}

.SearchBackgroundColor {
	top: 0px;
	background-color: #f7f7f7;
}

.SearchInput {
	position: relative;
	width: 100%;
	height: 160px;
	background: #fff;
	border-bottom: 1px solid #e1e2e3;
	z-index: 1;
}

.SearchInput_SearchKeywordText {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	max-width: 90%;
	font-size: 48px;
	line-height: 2;
	color: #333;
	padding: 0;
	margin: 0;
	border: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.SearchDetail {
	margin: 60px auto 80px;
	width: 87.72%;
	position: relative;
	max-width: 1060px;
}

.Search_sectionContainer {
	padding-bottom: 60px;
}

.Search_searchLabel {
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: 18px;
	color: #333;
}

.Search_searchLabel > span {
	margin-left: 10px;
	font-weight: 400;
}

.CompanyList {
	margin: -10px;
	position: relative;
}

.slick {
	margin-bottom: 30px;
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	touch-action: pan-y;
}

.slick-_list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick_track {
	width: 1080px;
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick_slide {
	display: block;
	outline: none;
	width: 1080px;
	float: left;
	height: 100%;
	min-height: 1px;
}

.CompanyItem_className {
	width: calc(50% - 20px);
	margin: 10px;
	float: left;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 21px 20px;
	background: #fff;
	border-radius: 2px;
}

.CompanyItem_logoGroup {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: calc(100% - 110px);
}

.CompanyItem_logoClassName {
	background-image: url(https://static.wanted.co.kr/images/wdes/0_5.e5146fee.jpg);
	width: 58px;
	height: 58px;
	margin-right: 20px;
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
}

.CompanyItem_textClassName {
	width: calc(100% - 78px);
	height: 58px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.CompanyItem_textClassName > h5 {
	color: #333;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin: 0;
}

.CompanyItem_textClassName > h6 {
	color: #999;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.CompanyItem_button {
	border: 1px solid #e1e2e3;
	white-space: nowrap;
	height: 40px;
	font-size: 15px;
	color: #36f;
	background-color: #fff;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	min-width: 64px;
	padding: 0 27px;
	box-sizing: border-box;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	border: none;
	background-color: none;
}

.Button_label {
	width: 100%;
	font-size: inherit;
	font-weight: inherit;
	display: inherit;
	align-items: inherit;
	justify-content: inherit;
	color: inherit;
}

.list_keywords {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
}
