* {
    font-family: "Pretendard";
}

.divider__vertical {
    border: 0.5px solid #e1e2e3;

    width: 0px;
    height: 2vh;
}

.divider__horizontal {
    border: 0.5px solid #e1e2e3;

    width: 100%;
    height: 0px;
}

.empty-space__5 {
    width: 100%;
    height: 5px;

    background-color: transparent;
}
.empty-space__10 {
    width: 100%;
    height: 10px;

    background-color: transparent;
}
.empty-space__15 {
    width: 100%;
    height: 15px;

    background-color: transparent;
}
.empty-space__20 {
    width: 100%;
    height: 20px;

    background-color: transparent;
}
.empty-space__25 {
    width: 100%;
    height: 25px;

    background-color: transparent;
}
.empty-space__30 {
    width: 100%;
    height: 30px;

    background-color: transparent;
}
.empty-space__35 {
    width: 100%;
    height: 35px;

    background-color: transparent;
}
.empty-space__40 {
    width: 100%;
    height: 40px;

    background-color: transparent;
}
.empty-space__45 {
    width: 100%;
    height: 45px;

    background-color: transparent;
}
.empty-space__50 {
    width: 100%;
    height: 50px;

    background-color: transparent;
}