a {
    text-decoration: none;
    color: black;
}

.header__container {
    height: auto;
}

header {
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;

    background-color: white;
    border-bottom: 1px solid lightgray;

    z-index: 3;

    flex-grow: 1;

    font-size: 14px;

    padding: 4px 225px;
}

.header__right {
    display: contents;

    text-align: right;
}

img.menu {
    width: 18px;
    height: 19px;

    cursor: pointer;
}
img.logo {
    width: 75px;
    margin-left: 15px;
}
img.search {
    width: 16px;
    margin-right: 20px;
    margin-top: 2px;

    cursor: pointer;
}
img.notification {
    width: 18px;
    margin-right: 18px;
    margin-top: 4px;

    cursor: pointer;
}
img.profile {
    width: 18px;
    margin-top: 4px;

    cursor: pointer;
}

.login {
    cursor: pointer;
    max-lines: 1;
}

.header__organization {
    border: 1px solid lightgray;
    border-radius: 20px;

    padding: 5px 10px;
    
    color: gray;

    cursor: pointer;
}

.badge--new {
    position: absolute;
    top: 12px;

    font-style: normal;
    color: blue;

    transform: translateX(-12%) scale(0.6);
}

.category {
    display: flex;
    flex-grow: 1;
    list-style-type: none;

    text-align: center;

    margin-left: 10px;
}

.category li {
    float: left;
    width: max-content;

    margin-left: 30px;

    cursor: pointer;
}

.divider__vertical {
    height: 12px;

    margin: 0 20px;
}