.search__container {
    background-color: rgb(245, 245, 245);

    height: max-content;
}

.search__title {
    width: 100%;
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid lightgray;

    background-color: white;
}
.search__title h1 {
    font-size: 48px;
    font-weight: 500;
}