.subscription__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 225px;
    background-color: #f7f7f7;

    margin-bottom: 90px;

    padding-left: 225px;
    padding-right: 225px;
}
.subscription__container p {
    text-align: left;
}
.subscription__detail {
    font-size: 14px;
    letter-spacing: -0.7px;

    margin-top: 3px;
}
.subscription__image {
    height: 170px;
}
.subscription__button {
    float: left;

    padding: 15px 60px;
}

.text-big {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;

    margin: 0;
}
.text-big-bold {
    font-size: 40px;
    font-weight: 900;

    padding-right: 2px;
}
