.ad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background: linear-gradient(90deg,#ddebff -.28%,#b7d8ff);
    margin-bottom: 90px;
    padding-left: 200px;
    padding-right: 200px;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.ad > p {
    text-align: left;
}

.ad_image {
    object-fit: contain;
    height: 130px;
}

.ad_button {
    float: left;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 60px;
    font-weight: bold;
}

.ad_text {
    font-size: 20px;
    font-weight: 900;
    padding-right: 2px;
}

.myprof {
    width: 73.5%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin: 40px 200px 70px 200px;
    border: none;
    border-radius: 30px;
    background-color: #f2f5ff;
}

.myprof_image {
    width: 20px;
    height: 20px;
    padding: 5px;
}

.myprof_text {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
