* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}
p.bold {
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;

    background-color: white;
    border-bottom: 1px solid lightgray;

    z-index: 3;

    flex-grow: 1;

    font-size: 14px;

    padding: 4px 225px;
}

.header-right {
    display: contents;

    text-align: right;
}

img.menu {
    width: 18px;
    height: 18px;

    cursor: pointer;
}

img.logo {
    width: 75px;
    margin-left: 15px;
}

img.search {
    width: 16px;
    margin-right: 20px;
}

.menu-expand {
    width: 300px;
    height: 94%;

    position: fixed;
    left: 14.5%;
    top: 6%;
    z-index: 3;

    background-color: white;
    
    border-radius: 5px;

    text-align: left;

    overflow: hidden;
}
.menu-expand ul {
    list-style: none;

    padding: 0 10px;
    line-height: 270%;

    font-size: 15px;
    font-weight: bold;
}

.category {
    display: flex;
    flex-grow: 1;
    list-style-type: none;

    text-align: center;

    margin-left: 10px;
}

.category li {
    float: left;
    width: max-content;

    margin-left: 30px;

    cursor: pointer;
}

.new-badge {
    position: absolute;
    top: 12px;

    font-style: normal;
    color: blue;

    transform: translateX(-12%) scale(0.6);
}

.organization {
    border: 1px solid lightgray;
    border-radius: 20px;

    padding: 5px 10px;
    
    color: gray;

    text-align: center;
}

.divider-column {
    border: 0.5px solid lightgray;
    width: 0px;
    height: 10px;

    margin: 0 30px;
}
.divider-column.big {
    border: 1px solid lightgray;
    width: 0px;
    height: 20px;

    margin: 0 30px;
}

.job-group-container {
    display: flex;
    align-items: center;

    margin: 30px 225px 0 225px;
}

.job-selector {
    display: flex;
    align-items: center;

    float: left;
    margin: 0;
}
.job-selector p {
    font-size: 23px;
}
.job-selector button {
    width: 30px;
    height: 30px;

    border: 1px solid lightgray;
    border-radius: 50%;

    margin-left: 10px;

    background-color: white;

    cursor: pointer;
}

.sticky-top {
    background-color: white;

    position: sticky;
    top: 45px;

    z-index: 2;

    border-bottom: 1px solid lightgray;
}

.filter-container {
    margin: 0 225px;
    padding-bottom: 25px;
    padding-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid lightgray;
}

.filter-container p{
    padding: 3px 2px;
}

.job-expand {
    width: 16px;
    height: 22px;

    padding-top: 2.5px;
    padding-right: 6px;
}

.filter-expand {
    width: 10px;
    height: 13px;

    padding-right: 7px;
}

.filter-left {
    display: flex;
}
.filter-left div {
    display: flex;
    align-items: center;

    margin-right: 10px;
    padding: 0 7px;

    border: 1px solid lightgray;
    border-radius: 5px;    
}
.filter-left p {
    margin: 5px 5px;
}

.filter-right div {
    display: flex;
    align-items: center;

    margin-right: 10px;
    padding: 0 7px;

    border: 1px solid lightgray;
    border-radius: 5px;
}
.filter-right p {
    margin: 5px 5px;
}

.keywords-container {
    display: flex;
    align-items: center;

    margin: 10px 225px;

    position: relative;
    overflow: hidden;
}

.keywords {
    display: flex;
    margin: 15px 0;

    transform: translateX(-40px);
}

.keywords button {
    border: none;
    border-radius: 40px;

    background-color: lightgray;
    color: dimgray;

    padding: 7px 13px;
    margin-right: 5px;

    font-size: 12px;

    width: max-content;

    cursor: pointer;
}
#money {
    background-color: rgb(242, 251, 245);
}
#home {
    background-color: rgb(243, 249, 254);
}

.etc-container {
    position: absolute;
    right: 0;

    background-color: white;

    box-shadow: 0 1px 10px 8px white !important;
}
.etc-container button {
    border: 1px solid lightgray;
    border-radius: 5px;

    background-color: white;
    color: dimgray;

    width: 37px;
    height: 37px;

    cursor: pointer;
}
.etc-container img {
    width: 16px;
    padding-top: 2px;
    padding-left: 2px;
}
#right {
    border-radius: 100%;

    margin-right: 5px;
}

.etc-container-left {
    visibility: hidden;

    background-color: white;

    border-radius: 0 20px 20px 0;

    box-shadow: 0 1px 10px 8px white !important;
}
.etc-container-left button {
    border: 1px solid lightgray;
    border-radius: 100%;

    background-color: white;
    color: dimgray;

    width: 37px;
    height: 37px;
    
    margin-right: 5px;

    cursor: pointer;
}
.etc-container-left img {
    width: 16px;
    padding-top: 2px;
}

.divider-horizontal {
    border: 0.5px solid lightgray;

    width: 100%;
    height: 0px;
}

.bookmark-container {
    display: flex;
    align-items: center;

    margin: 50px 225px 30px 225px;
}

.bookmark-text{
    color: #36f;
    font-weight: bold;
}
#bookmark {
    height: 17px;
    margin-right: 5px;
}

.recruiting-top {
    margin: 0 225px;
}

.header-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}
.header-card-item {
    border: 1px solid lightgray;
    border-radius: 5px;
}
.header-card-item img {
    width: 100%;
    object-fit: cover;

    border-radius: 5px 5px 0 0;
}
.header-card-item #logo {
    width: 50px;
    height: 50px;

    object-fit: cover;

    border: 1px solid lightgray;

    transform: translateY(-23px);
    margin-left: 10px;
}
.header-card-item p {
    margin-left: 12px;
}

.header-card-title {
    font-size: 16px;
    font-weight: bold;
}
.header-card-position {
    color: lightgray;
    font-size: 13px;

    padding-top: 5px;
    margin-bottom: 45px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;

    margin: 50px 225px;
}

.card-title {
    font-size: 19px;

    margin-top: 7px;
    margin-bottom: 7px;
}

.card-badge {
    width: fit-content;
    padding: 1px 5px;
    margin: 5px 0;

    border: 1px solid #00aead;
    color: #00aead;
    border-radius: 2px;
}

.card-item img {
    width: 100%;
    object-fit: cover;

    border-radius: 5px;
}
.card-item #bookmark-outline {
    float: right;
    height: 30px;
    width: 40px;

    transform: translateY(120%);
}

.card-region {
    margin: 10px 0;
    color: #aaa;
}

.empty-large {
    height: 100%;
    width: 100px;

    background-color: transparent;
}

.hider {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    z-index: 4;

    background-color: rgba(105, 105, 105, 0.7);
}