.filter {
    z-index: 10;
    margin: auto;
    width: 100%;
   background-color: #fff;
    position: sticky;
    top: 50px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid gainsboro;
}
.filter .filterlist{
    width: 1060px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  
    border-bottom: 1px solid gainsboro;
  
  }

h1{
    margin: 0;
    padding: 0;
    border: 0;
}
h2{
    margin: 0;
    padding: 0;
    border: 0;
}
p{
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    color: rgb(51, 51, 51);
}

ul {

    list-style: none;
    padding: 0px;
    margin: 0;
}
li {
    display: inline-block;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    
    padding-top: 50px;
    margin: 0;
    font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial, Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}

header {
 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    height: 50px;
    align-items: center;
z-index: 99;


}

header .mainbar {
    width: 87.72%;;
    max-width: 1060px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;


}

header .mainbar .left {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .mainbar img.bar {
    height: 14px;
}

header .mainbar img.logo {
    height: 17px;
}


header .mainbar .center {
    display: flex;justify-content: space-evenly;
}

header .mainbar .center a {
    padding: 12px;
}


header .mainbar .right {
    display: flex;
}

header .mainbar .right a{
    cursor: pointer;
}


header .mainbar .right li {
    margin-left: 10px;
}


#vborder {
    width: 2px;
    height: 10px;
    background-color: rgb(225, 226, 227);
    /* margin: 22px; */
}

.dashboardButton {
    font-size: 13px;
    color: #666;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    font-weight: 400;
}


.category{
    display: flex;
    width: 1060px;
    background: #fff;
    padding-top: 40px;
    margin: auto;
}
.category .joblist{
    display: flex;

}
.category .divider {
    border: 1px solid #e1e2e3;
    width: 0px;
    margin: 0 25px;
}



.category .joblist button{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    border: 1px solid #e1e2e3;
    border-radius: 100%;
    background-color: #fff;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: .3s;   
}


.category .joblist p {
    margin-right: 16px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #333;
}

.category .joblist:last-child p {
 font-weight: 400;

}



.filter .filterlist .left {
    display: flex;
    gap: 20px;
}

.filter .filterlist button {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ececec;
    background-color: #fff;

}


.filter .filterlist button p:first-child {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400 !important;
    letter-spacing: normal;
    color: #333 !important;
}

.filter .filterlist button p:last-child {
    color: #36f;
    font-weight: 600;
    margin-right: 0;
}

.filter .filterlist .right {
    display: flex;
}



.filter .keywords {
    display: flex;
    margin: 30px 0;
    position: relative;
    margin: auto;
    overflow: hidden;

    width: 1060px;
    height: 40px;

}

.filter .keywords .keywordslides  {
    position: absolute;
  left: 0;
  top: 0;
  width: 2500px; 
  transition: left 0.5s ease-out; 
}

.filter .keywords .keywordslides button  {
    display: flex;
    position: relative;
    height: 32px;
    padding: 8px 14px;
    border-radius: 20px;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 8px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #333;
    border: none;
}
.filter .keywords .keywordsbutton span {
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    color: black;
    text-align: center;
    border-radius: 100%;
    padding: 5px 8px;
    background-color: #fff;
    border: 1px solid gainsboro;
    cursor: pointer;

}

.filter .keywords .keywordsbutton img {
 width: 16px;
}

  .filter .keywords .keywordsbutton span:first-child {
      left: 0;
      display: none;
  }
  .filter .keywords .keywordsbutton span:last-child {
    right: 0;
}
 
  

/* body */
.main {
 
    display: block;
    margin:0 auto;
    text-align: center;
    padding-top: 25px;
    border-bottom: 1px solid #ececec;
}

.main .section {
    width: 1060px;
   display: inline-block;
   padding : 60px 0;
}
li {
    list-style-type: none;
}

#slideShow {
    width: 100%;
    height: 300px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.banner_info{
    position: absolute;
    bottom: 28px;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #fff;
    opacity: 1;
    text-align: left;
    left: 450px;

}
.banner_info  h2{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
    font-weight: 700;
    color: #333;
    width: "auto";
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.banner_info  h3{
    margin: 0 20px;
    height: 44px;
    font-size: 14px;
    line-height: 1.64;
    color: #333;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.banner_info  .banner_divider{
    height: 1px;
    margin: 0;
    background-color: #ececec;
    border: none;
}

.banner_info  a{
    margin: 15px 0 0 13px;
    color: blue;
    text-align:center;
}

.banner_info  svg{
    width: 1em;
    height: 1em;
    font-size: 11px;
}



  .slides {
    position: absolute;
    left: 0;
    top: 0;
  } 
  .slides.delay{
	transition: 0.4s ease-out;
  } 

  .slides li:not(:last-child){	
	margin-right: 20px;
}
  .controller span {
    position: absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 33%;
    padding: 15px 6px;
    top: 43%;
   background-color: #fff;
   opacity: 0.6;
    cursor: pointer;
    font-size: 25px;;
  } 
  .controller img {
   width: 16px;
  } 
  .prev {
    left: 320px;
  } 
  
 
  .next {
    right: 320px;
  } 
  





.main .section .career{
  margin-bottom:60px;
}

.main .section .career .title{ 
    display: flex;
    align-items: center;
    justify-content: center;

}

.main .section .career .title h2{ 
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    color: #333;
}
.main .section .career .title button{ 
    border: none;
    background-color: rgba(0, 0, 0, 0);
}


.main .section .career .scroll_button{ 
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.main .section .career .scroll_button button{  
    border: 1px solid lightgray;
    display: flex;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
    color: #888;
    height: 40px;
    border-radius: 15px;
    background-color: white;

}

.main .section .career .scroll_button .left {
    display: flex;
    gap: 5px;
}

.main .section .career .scroll_button .left .arrow {
    padding: 10px 12px;
    border-radius: 100%;

}


.main .section .career .scroll_button .right {
    display: flex;

}

.main .section .career .list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: left;
}

.main .section .career .list li{
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);
    margin: 0 10px 50px;

}

.main .section .career .list h1, p{
    display: -webkit-box;
    /* 라인수 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
 /* 생략부호 표시 */
    text-overflow: ellipsis; 

}
.main .section .career .list img {
    width: 100%;
    height: 130px;
    border-radius: 4px;
}

.main .section .career .list h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}
.main .section .career .list .writer p {
    display: flex; 
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6666666667em;
    color: #767676;
}

.main .section .career .list p img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ececec;
}

.main .section .career .morebutton button {
    height: 50px;
    width: 345px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;

    border: 1px solid #e1e2e3;
}

.main .section .subsection{
    display: block;
    max-width: 1060px;
    padding-top: 60px;

}
.main .section .subsection .titleline{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main .section .subsection .titleline .title{
    margin: auto
}
.main .section .subsection .titleline .title h1{
    font-size: 22px;
    font-weight: 700;
    color: #333;
}
.main .section .subsection .titleline .title p{
    margin: 5px 0 0;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    vertical-align: middle;
    color: #767676!important;
}


.main .section .subsection .titleline button{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
    background-color: #fff;
}

.main .section .subsection .titleline img{
  width: 16px;
}

.main .section .subsection .list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: left;
}

.main .section .subsection .list li{
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);
    margin: 30px 10px 50px;
}


.main .section .subsection .list img {
    width: 100%;
    height: 130px;
    border-radius: 4px;
}

.main .section .subsection .list h1 {
    font-style: normal;
    font-weight: 700;
    color: #333;
    margin-top: 17px;
    font-size: 16px;
}
.main .section .subsection .list h2{
    color: #333;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.main .section .subsection .list p{
    float: none;
    display: block;
    margin-top: 10px;
}

.main .section .subsection .list .writer p {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #333;
}


.main .section .subsection .list2 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: left;
}

.main .section .subsection .list2 button{
    margin-top: 8px;
    color: #a149e4;
    border-color: #a149e4;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    padding: 0 6px;
}

.main .section .subsection .list2 li{
    display: block;
   
    width: calc(50% - 20px);
    margin: 10px 10px 50px;
}
.main .section .subsection .list2 img {
    width: 100%;
    height: 273px;
    border-radius: 4px;
}

.main .section .subsection .list2 h1 {
    font-style: normal;
    font-weight: 700;
    color: #333;
    margin-top: 17px;
    font-size: 16px;
    color: #333;
}
.main .section .subsection .list2  p {
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
    color: #aaa;
}

.main .section .subsection .list2 .logocontain {
    display: flex;
    margin-top: 8px;

}

.main .section .subsection .list2 .logocontain img{
    display: flex;
    width: 32px;
    margin-right: 8px;
    margin-top: 8px;
    height: 32px;

    border: 1px solid rgba(0,0,0,.05);
}





.main .section .subsection .list2 .card{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 17px;
}



.main .section .subsection .list2 .card .left{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.main .section .subsection .list2 .card h1{
 margin: 0;
}

.main .section .subsection .list2 .card .left .logo{
    width: 42px;
    height: 42px;
    background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_4.b45e244f.jpg&w=42&q=100);
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
}
.main .section .subsection .list2 .card .left .title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.main .section .subsection .list2 .card .right{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.main .section .subsection .list2 .card .right button{ 
    height: 42px;
    margin: 0;
    color: #36f;
    background-color: #fff;
    border: 1px solid #e1e2e3;
    font-size: 15px;
    padding: 0px 20px;
    border-radius: 25px;
    font-weight: 700;
}




.main .section .linebanner .textbox{
    width: 1060px;
    background-image: linear-gradient(90deg,#01a9fe -12%,#2f5fef 37%,#046afe 72%,#00d2dd 110%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    border-radius: 38.5px;


} 



.main .section .event{
    padding: 50px 0;
}

.main .subscribe{
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 60px 0;
    
}
.main .subscribe .sub{
   display: flex;
   width: 1060px;
}

.main .subscribe .sub button{
    width: 260px;
    margin-top: 25px;
    color: #fff;
    background-color: #36f;
    border: none;
    height: 50px;
    font-size: 16px;
    border-radius: 25px;
    font-weight: 700;
 }

 
.main .subscribe .sub h1{
   color:  #333;
   font-weight: 700;
   font-size: 27px;
}

.main .subscribe .sub p{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
 }

.main .subscribe .sub .left {
    width: 45%;
    text-align: left;
 
 }
 .main .subscribe .sub .right {
    width: 55%;
 }
 .main .subscribe .sub .right  img{
    height: 170px;
 }

.main .section .info{
    padding: 60px 0 80px;
}

.main .section .info .title{
    margin-bottom: 30px;
}

.main .section .info .title h1{
    font-size: 22px;
    font-weight: 700;
    color: #333;

}

.main .section .info .gridcontain{
    display: flex;
    border: 1px solid #ececec;
    border-radius: 4px;
    color: #333;
}


.main .section .info .gridcontain .grid{
    padding: 18px 0 0;
    border-right: 1px solid #ececec;
    width: 25%;
}

.main .section .info .gridcontain h1{
    margin: 10px;
    font-size: 16px;
    color: #333;
 }

.main .section .info .gridcontain .grid img{ 
    width: 32px;
}

.main .section .info .gridcontain .grid h1 img{
   width: 12px;
 }

.main .section .divider{
    /* position: relative; */
    max-width: 1060px;
    height: 1px;
    background-color: #ececec;
}


.main .position{
    display: block;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 50px 0;
    margin-bottom: 30px;
    background: #f4f8fb;
    background-image: url(https://wanted-dev.static.wanted.co.kr/banner/Jobsfeed_ai_banner.png);  
}

.main .position  img{
    width: 114px;

    vertical-align: middle;
 }


.main .position  button{
    width: 260px;
    margin-top: 25px;
    color: #fff;
    background-color: #36f;
    border: none;
    height: 50px;
    font-size: 16px;
    border-radius: 25px;
    font-weight: 700;
 }


.main .position h1{
   color:  #111;
   font-size: 22px;
   font-weight: 700;
   margin-top: 10px;
}

.main .position p{
    float: none;
    color: #555;
    font-size: 16px;
    line-height: 19.2px;
}


.main .mycareer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 155px;
    margin-bottom: 20px;
   background: linear-gradient(90deg,#ddebff -.28%,#b7d8ff);
}
.main .mycareer img{
    width: 230px;
 }

.main .mycareer .sub{
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main .mycareer .sub .title{
    display: flex;
    flex-direction: column;
}

.main .mycareer .sub .title button{
    align-items: center;
    justify-content: center;
    width: 119px;
    border-radius: 25px;
    background-color: #5071dc;
    color: #fff;
    font-weight: 700;
    line-height: 16px;
    margin-top: 10px;
    height: 36px;
    font-size: 14px;
    border: none;

}


.main .mycareer .sub .title h1 {
    font-size: 24px;
    line-height: 29px;
    color: #5071dc;
    font-weight: 700;
}

.main .section .profile{
    
    display: flex;
    align-items: center;

        font-size: 18px;
    font-weight: 500;
    justify-content: center;
    border-left: none;

}

.main .section .profile li:first-child{
    background-color: #f2f5ff;
    width: 50%;
    border-top-left-radius: 38.5px;
    border-bottom-left-radius: 38.5px;
}

.main .section .profile li:last-child{
    background-color: #f2fbf5;
    width: 50%;
    border-top-right-radius: 38.5px;
    border-bottom-right-radius: 38.5px;
}

.main .section .profile button{
    margin: 20px;
    align-items: center;
    background-color:transparent;
  border: none;
}

.job_main{
    display: block;
    width: 1060px;
margin: auto;

}
.job_main .bookmark{
 display: flex;
 margin: 30px 0;

}


.job_main .bookmark p {
        color: #36f;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
}

.job_main .hiring{
    
}
.job_main .hiring h1{
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.3px;
    color: #333;
    margin: 20px 0 14px;
}

.job_main .hiring .hiring_list{
    display: flex; 
    justify-content: space-between;
    gap: 5px;
    
}

.job_main .hiring .hiring_list .item{
    width: 25%;
    border: 1px solid lightgray;
    border-radius: 2%;
    position: relative;

}

.job_main .hiring .hiring_list .item #logo{
    background-color: #000;
    position: absolute;
    top: 110px;
    left: 18px;
    width: 50px;
    height: 50px;  
    z-index: 0;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
    background-color:#fff;
}

.job_main .hiring .hiring_list .item img{
    width: 100%;
    border-radius: 2% 2% 0 0;

}
.job_main .hiring .hiring_list .item .detail{
    margin: 0 9px;
    padding: 34px 16px 0;
    height: 80px;
    position: relative;

}

.job_main .hiring .hiring_list .item .detail h1{
    margin: 0;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #333;


}


.job_main .company_list{
     display: flex;
     flex-wrap: wrap;
     flex-wrap: wrap;
     justify-content: flex-start;

     flex-direction: row;
gap:10px;

    margin-top: 50px;
}

.job_main .company_list .item{
    display: block;
    width: 24%;
    margin-bottom: 20px;
}

.job_main .company_list .item img{
   height: 187px;
   width: 100%;
   object-fit :cover;
}




.job_main .company_list .item .detail {
    padding: 14px 0; 

}
.job_main .company_list .item .detail button{
    border: 1px solid #00aead;
    color: #00aead;
    border-radius: 2px;
    background-color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    height: 19px;
    line-height: 19px;
    margin-top: 4px;
    padding: 0 5px;

}

.job_main .company_list .item .detail h1{
color: #333;
font-size: 18px;
font-weight: 600;
}

.job_main .company_list .item .detail h2{
    color: #333;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
     
}

.job_main .company_list .item .detail h3{
    font-weight: 400;
    color: #999;
    font-size: 14px;
    margin : 10px 0 0 0;
}

.job_main .company_list .item .detail p{
    margin-top: 10px;
    color: #606060;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    word-break: break-word;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



footer {
    padding: 18px 0 65px;
    display: block;
    text-align: center;
}

.footertop {
    
    margin: 0 auto 18px;
    max-width: 1060px;
    width: 90%;
    display: flex;
justify-content: space-between;
}


.footertop .muenulink {
}

.footertop .muenulink li{
   margin-right: 30px;
}


.footertop .muenulink img.logo {
    vertical-align: middle;
}

.footertop .sociallink {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footerbottom {
    margin: 0 auto 18px;
    padding-top: 25px;
    max-width: 1060px;
    width: 90%;
    display: flex;
justify-content: space-between;
    border-top: 1px solid #ececec;
}
.footerbottom .adress{
    text-align: left;
}

.footerbottom .language{
    position: relative;
    width: 250px;
    height: 36px;
    float: left;
}

.footerbottom .language .arrow{
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 10px;
    line-height: 1.6;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #717171;
}

.footerbottom .language select{
    width: 100%;
    height: 40px;
    background: #f2f4f7;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    line-height: 2.1;
    color: #717171;
    padding: 0 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    
}

.footerbottom .language img{
    position: absolute;
    left: 15px;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 24px;
    height: 17px;
    z-index: 1;
}

p{
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6666666667em;
    color: #767676;

}



#modal.modal-overlay {

    display: none;
    background-color: rgba(0,0,0,.5); 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    z-index: 9999;
width: 100%;
height: 100%;
}
#modal .modal-window {
    position: relative;

    z-index: 10;

    width: 400px;
    height: 500px   ;

    max-height: 500px;
/* 스크롤활성화 */
    overflow-y: auto;
/* 스크롤체이닝금지 */
overscroll-behavior: contain;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
  }

#modal .modal-header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    
}

#modal .modal-header img{
    height: 16px;
}
#modal .modal-header button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    border: 0;
    background: none;

}
.close-area{
    cursor: pointer;
}

#modal .modal-body{
    
    padding: 20px
} 
#modal .modal-body .title{
    text-align: center;
    word-break: break-word;
    margin-top: 24px;
    margin-bottom: 40px;
} 

#modal .modal-body .title h1{
    line-height: 1.54;
    font-size: 26px;
    font-weight: 600;
    color: #333;
} 


#modal .modal-body .title h2{
    margin-top: 16px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: #666;
}


#modal .modal-body .login{
    position: relative;
    overflow: hidden;
    z-index: 1;
} 

.login_email{
    padding-bottom: 18px;
}
.email_label{
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}
.email_inputobx { 
    width: 100%;
}

.email_inputobx input{ 
    margin-top: 11px;

    width: 320px;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #999999;
    background-color: #fff;
    font-size: 14px;
    color: rgb(240, 239, 239);
}

.login_email_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.login_panel_divider::after {
    display: block;
    content: "or";
    color: #969696;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin: 13px auto;
    white-space: pre;
}
.login_panel_social{
    text-align: center;
    color: #767676;
    margin-bottom: 17px;
    font-size: 14px;
}

.login_panel_socialbox {
    width: 100%;;
    text-align: center;
}
.login_panel_socialbox ul{
    display: flex;
    justify-content: space-evenly;
}

.login_panel_socialbox li a{
    display: flex;
    flex-direction: column;
}
.login_panel_socialbox img{
    width: 54px;
    border-radius: 100%;
}
.modal_footer{
    margin-top: 26px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #999;
}